
//backgrd color
$red:rgb(190, 30, 38);  
$gray: rgb(63, 63, 63);
$white:  rgb(255, 249, 223);
//for grey backgrd
$font-white: rgb(216, 216, 216);
//for red backgrd
$font-black: rgb(26, 22, 22);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

.topBtn {
    width: 1125px;
    height: 812px;
    background: $red;
    color: $font-black;
}
.botBtn {
    width: 1125px;
    height: 1624px;
    color: $font-white;
    background: $gray;
}
.binaryBtn{
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    left:0;
}
.Input{
    width: 1125px;
    height: 1624px;
    color: $font-white;
    background: $gray;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    left:0;
}

.NumBtn{
    width: 50px;
    height: 50px;
    background: $gray;
    color: $font-white;
}

.FormBtn{
    width: 150px;
    height: 50px;
    background: $gray;
    color: $font-white;
}

.titleClass{
    width: 75%;
    height: 100px;
    background: $gray;
    color: $font-white;
}

.contentClass{
    width: 75%;
    height: 100px;
    background: $white;
    color: $font-black;
}

.container{
    width: auto;
}

.historyTitle{
    width: 75%;
    height: 150px;
    background: $red;
}

.history{
    width: 75%;
    height: 100px;
    background: $white;
    color: $font-black;

}

.hideHistory{
    width: auto;
    height: 100px;
    background: $gray;
    color: $font-white;
}

.bodyPartBtn {
    width: 500px;
    height: 500px;
    background: $red;
}

.bodyMapHide{
    display: none;
}

.bodyMapShow{
    display: block;
    width: 100px;
    height: 100px;
    background: $gray;
}

.workoutPartBtn{
    width: 500px;
    height: 500px;
    background: $gray;
}

.workoutMapHide{
    display: none;
}

.workoutMapShow{
    display: block;
    width: 500px;
    height: 100px;
    background: $gray;
}

.historyGroupHide{
    display: none;
}

.historyGroupShow{
    display: block;
    width: 100px;
    height: 100px;
    background: $gray;
}

.display {
    border: 2px solid $red;
}