body {
    background-color: #615c5d;
}
#myMap{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #b40125; 
    margin-bottom: 30px;
}

.timer {
    margin: 60px;
    text-align: center;
    color: white;
    font-size:28px;
}